<!DOCTYPE html>
<html ng-csp>
<head lang="en">
    <meta charset="UTF-8">
    <title>everything</title>
    <!-- Everything Stylesheet -->
    <!--<link rel="stylesheet" href="./stylesheets/everything.css"/>-->
    <!-- Style and Structure is being separating -->
    <!--<link rel="stylesheet" href="./stylesheets/style.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/site.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/editor.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/toolbar.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/status-bar.css"/>-->
    <link rel="stylesheet" href="./dist/style-build.min.css"/>
    <link rel="stylesheet" href="./stylesheets/libs/angular-csp.css"/>
    <!-- Everything Theme -->
    <!--<link rel="stylesheet" href="./stylesheets/everything_theme/light.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/everything_theme/dark.css"/>-->
    <!-- Package Theme -->
    <!--<link rel="stylesheet" href="./stylesheets/everything_package/editor.css"/>-->
    <link rel="stylesheet" href="./stylesheets/setting.css"/>
    <!--<script src="./bower_components/seajs/dist/sea.js"></script>-->
    <!-- Codemirror -->
    <script src="./bower_components/codemirror/lib/codemirror.js"></script>
    <script src="./bower_components/codemirror/mode/markdown/markdown.js"></script>
    <script src="./bower_components/codemirror/addon/display/placeholder.js"></script>
    <link rel="stylesheet" href="./bower_components/codemirror/lib/codemirror.css"/>
    <!--<link rel="stylesheet" href="./stylesheets/codemirror_themes/monokai.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/codemirror_themes/xq-light.css"/>-->
    <!--<link rel="stylesheet" href="./stylesheets/codemirror_themes/xq-light-big.css"/>-->
    <link rel="stylesheet" href="./iconfont/iconfont.css"/>
    <!-- Other libraries which will be loaded by RequireJS in the future after I alter seajs with requirejs -->
    <script src="./bower_components/crel.min/index.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script src="./bower_components/angular/angular.js"></script>-->
    <script src="./bower_components/require/index.js" data-main="./scripts/main.js"></script>
</head>
<body ng-controller="appController">
<!--<body>-->
<!--<a target="_blank" href="https://github.com/itangpin/everything"><img-->
<!--style="position: absolute; top: 40px; right: 0; border: 0;" src="./pic/fork_me_on_github.png"-->
<!--alt="Fork me on GitHub"-->
<!--data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>-->

<div id="toolbar" class="toolbar" nselectable="on" style="-moz-user-select:none;-webkit-user-select:none;"
     onselectstart="return false;">
    <div class="switcher">
        <div class="button" id="writing-btn">WRITING</div>
        <div class="button hi" id="list-btn">LIST</div>
    </div>
    <div class="button" id="setting-btn">#</div>
</div>
<div id="container" class="panel" ng-controller="listController">
    <div class="everything">
    </div>
</div>

<div class="editor-container panel" id="panel-writing">
    <div class="editor-title" contenteditable="true" placeholder="title"></div>
    <div class="editor-content" placeholder="Content"></div>
    <div class="icon">
        <div class="iconfont icon-category"></div>
        <div class="iconfont icon-information"></div>
    </div>
</div>
<!-- setting panel -->
<div id="panel-setting" class="panel" ng-controller="optionController as option">
    <div class="signin-register-form"
         ng-controller="registerSigninController as user"
         ng-show="option.hasSignedIn == 'false'">
        <div class="logo">
            <img src="./pic/logo-tmp.png" alt=""/>
        </div>
        <div class="app-name">
            Everything
        </div>
        <div id="register" ng-show="user.userFormType == 'register'">
            <form id="register-form" ng-submit="user.re()">
                <input ng-model="user.reEmail"    type="email"    placeholder="email"/>
                <input ng-model="user.reName"     type="text"     placeholder="nickname" />
                <input ng-model="user.rePassword" type="password" placeholder="password"/>
                <button >REGISTER</button>
            </form>
            <div class="switch" ><a href ng-click="user.switch('signIn')">sign in</a></div>
        </div>
        <div id="sign-in" ng-show="user.userFormType == 'signIn'">
            <form ng-submit="user.si()">
                <input ng-model="user.siEmail"    type="email"    name="email"    placeholder="email"/>
                <input ng-model="user.siPassword" type="password" name="password" placeholder="password" />
                <button>SIGN IN</button>
            </form>
            <div class="switch" >
                <a href ng-click="user.switch('register')">register</a>
            </div>
        </div>
    </div>
</div>
<div id="status-bar">
    <div class="item" id="github">
        <a href="https://github.com/itangpin/everything" target="_blank">source on github</a>
    </div>
</div>
</body>
</html>
