

$lightblue: rgba(231, 235, 244, 0.91);
@mixin transition($sec) {
  transition: $sec;
  -moz-transition: $sec;
  -webkit-transition: $sec;
}
.everything{
  overflow: hidden;
}
.everything{
  .content, .func-btn{
    display: inline-block;
    float: left;
  }
  .project{
    position: relative;
    width:auto;
    line-height: 30px;
    outline:none;
  }
  .project.onlychildren>.children{
      border-left: 0;
    }
  .project.onlychildren>.project-content{
    display: none;
  }
  .project.onlychildren>.function-btn{
    display: none;
  }
  .et-row.hi{
    background-color: $lightblue;
    outline: none;
  }
  .project-content:hover,.project-content:focus{
    background-color: #222;
  }
  .project-content{
    outline: none;
    width:100%;
    line-height: 30px;
    padding:2px 0 2px 6px;
    margin-left: 24px;
    color:#fafafa;
    font-family: roboto, 'microsoft yahei', 'sans-serif';
  }
  .content{
    position: relative;
    left:30px;
  }
  .children{
    margin-left:16px;
    border-left: 1px solid #555;
    padding-left: 24px;
    overflow: hidden;
  }
  .children.collapse{
    height: 0;
  }
//  function btn
  .function-btn{
    position: absolute;
    height:34px;
    width:30px;
  }
  .function-btn span.function-dot-1{
    position:absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 9px;
    background-color: transparent;
    @include transition(.2s);
    cursor: pointer;
    z-index: 999;
  }
  .function-btn span.function-dot-2{
    position:absolute;
    border-radius: 50%;
    width:8px;
    height:8px;
    margin:13px;
    background-color: #bbbbbb;
    cursor: pointer;
  }
  .function-btn span:hover{
    background-color: #5a5a5a;
  }
  .project.collapse>
    .function-btn span.function-dot-1{
      background-color: #5a5a5a;
    }

}
